<body>
<div class ="bg-lost">
  <div class="title-lost">
    ロストリバーデルタ
  </div>
</div>

<div class ="about-lost">
1930年代の中央アメリカのジャングルであるロストリバーデルタでは古代文明の遺跡が発掘され
<br>遺跡にひそむ神秘と脅威を明らかにしようと、考古学者や一攫千金を狙う者たちなどが多く集まりました。
<br>ゲストは彼らのキャンプで食事をしたり、探険家気分で危険に満ちた体験をすることができます。
</div>

<div class="foods-container-lost">
  <% @foods.each do |t| %>
    <% if t.area == "ロストリバーデルタt" %>
      <div class="tweet-lost">
        <div class="image-lost">
          <%= image_tag t.image_url, size: "350x250" if t.image? %><br>
        </div>
        <div class="shop-lost">
          </b><%= t.nlost %><br>
        </div>
        <div class ="genre-lost">
          </b><%= t.genre %><br>
        </div>
      
    <div class="button-lost">
    <%= button_to ">詳細へ", food_path(t.id), method: :get, class: :"show-lost"%>
      <% if user_signed_in? && current_user.id == t.user_id %>
      <p>
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= link_to food_like_path(id: t.id, food_id: t.id), method: :delete do %>
            <i class="fas fa-heart fa-2x" style="color:#f5b2b2;"></i>
            <div class ="like-medi">
              <%= t.likes.count %>
            </div>
          <% end %>
      <% else %>
          <%= link_to food_likes_path(id: t.id, food_id: t.id), method: :food do %>
            <i class="far fa-heart fa-2x"></i>
            <div class ="like-medi">
              <%= t.likes.count %>
            </div>
          <% end %>
      <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
    <% end %>
    </p>
          <%= button_to "編集する", edit_food_path(t.id), method: :get %>
          <%= button_to "削除する", food_path(t.id), method: :delete %>
          <% end %>
          </div>  
    </div>
  <% end %>
<% end %>
</div>

<button type="button" onclick="history.back()"><戻る</button>
<%= link_to "新規投稿へ", new_food_path %>

</body>