<h1>Disney sea food紹介</h1>
<h3>メニュー一覧</h3>
<div>
    <%= link_to "肉料理", foods_niku_path %>
</div>

<div>
    <%= link_to "魚料理", foods_sakana_path %>
</div>

<div>
    <%= link_to "パスタ", foods_pasta_path %>
</div>

<div>
    <%= link_to "サンドウィッチ/ハンバーガー", foods_burger_path %>
</div>

<div>
    <%= link_to "パン/ペイストリー", foods_bread_path %>
</div>

<div>
    <%= link_to "カレー", foods_curry_path %>
</div>

<div>
    <%= link_to "ピザ", foods_pizza_path %>
</div>

<div>
    <%= link_to "ワンハンドメニュー", foods_hand_path %>
</div>

<div>
    <%= link_to "ポップコーン", foods_pop_path %>
</div>

<div>
    <%= link_to "スウィーツ", foods_sweets_path %>
</div>

<div>
    <%= link_to "アイスクリーム", foods_ice_path %>
</div>

<div>
    <%= link_to "アルコール", foods_alcohol_path %>
</div>

<%= link_to "Back", foods_top_path %>