<h3>新規投稿ページ</h3>

<%= form_for @food do |f| %>
  
  <div class="field">
      <%= f.label :ショップ名 %>
      <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :写真を追加 %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :エリアを選択  %>
    <%= f.select :area, 
    [["メディテレーニアンハーバー", "メディテレーニアンハーバー"], 
    ["アメリカンウォーターフロント", "アメリカンウォーターフロント"], 
    ["ポートディスカバリー", "ポートディスカバリー"],
    ["ロストリバーデルタ", "ロストリバーデルタ"],
    ["アラビアンコースト", "アラビアンコースト"],
    ["マーメイドラグーン", "マーメイドラグーン"],
    ["ミステリアスアイランド", "ミステリアスアイランド"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :メニュージャンルを入力 %>
    <%= f.text_field :genre, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :詳細を入力 %>
    <%= f.text_area :about, :size => "30x5" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", foods_path %>