<h1>Disney sea food紹介</h1>
<h3>場所一覧</h3>
    
    <div>
    <%= link_to "メディテレーニアンハーバー", foods_path %>
    </div>

    <div>
    <%= link_to "アメリカンウォーターフロント", foods_ame_path %>
    </div>

    <div>
    <%= link_to "ポートディスカバリー", foods_port_path %>
    </div>

    <div>
    <%= link_to "ロストリバーデルタ", foods_lost_path %>
    </div>

    <div>
    <%= link_to "アラビアンコースト", foods_arab_path %>
    </div>

    <div>
    <%= link_to "マーメイドラグーン", foods_mermaid_path %>
    </div>

    <div>
    <%= link_to "ミステリアスアイランド", foods_mystery_path %>
    </div>

    <%= link_to "Back", foods_top_path %>
