<ul id="2" class="area">
    <div class="border1">
      Area list
    </div>
</div>

<div class="map">
<%= button_to "メディテレーニアンハーバー", foods_path , method: :get, class:"medi" %>
<%= button_to "アメリカンウォーターフロント", foods_ame_path, method: :get, class:"ame" %>
<%= button_to "ポートディスカバリー", foods_port_path, method: :get, class:"port" %>
<%= button_to "ロストリバーデルタ", foods_lost_path, method: :get, class:"lost" %>
<%= button_to "アラビアンコースト", foods_arab_path, method: :get, class:"arab" %>
<%= button_to "マーメイドラグーン", foods_mermaid_path, method: :get, class:"mermaid" %>
<%= button_to "ミステリアスアイランド", foods_mystery_path, method: :get, class:"mystery" %>
</div>
<div class="all-button">
<button type="button" onclick="history.back()"><戻る</button>
</div>