<body>
<div class="bg">
    <div class="about">
        このサイトでは、ディズニーシーパーク内の
        <br>魅力あふれるフードを紹介していきます！
        <br>パークを訪れた際にありがちな
        <br>どこに何があるのかわからない、、、
        <br>一覧でフードを見たい、、、
        <br>などのお悩みを持つ方へ
        <br>エリア、メニューごとに一覧でフードを紹介するサイトです✨
    </div>
</div>

<ul id="2" class="area">
    <div class="border1">
        Area list
    </div>
</div>

<div class="map">
<%= button_to "メディテレーニアンハーバー", foods_path , method: :get, class:"medi" %>
<%= button_to "アメリカンウォーターフロント", foods_ame_path, method: :get, class:"ame" %>
<%= button_to "ポートディスカバリー", foods_port_path, method: :get, class:"port" %>
<%= button_to "ロストリバーデルタ", foods_lost_path, method: :get, class:"lost" %>
<%= button_to "アラビアンコースト", foods_arab_path, method: :get, class:"arab" %>
<%= button_to "マーメイドラグーン", foods_mermaid_path, method: :get, class:"mermaid" %>
<%= button_to "ミステリアスアイランド", foods_mystery_path, method: :get, class:"mystery" %>
</div>

<ul id="3" class="menu">
    <div class="border2">
        Menu list
    </div>
</div>
<div class="box1">
    <div class="niku">
        <%= button_to "肉料理", foods_niku_path, method: :get, class:"t-niku" %>
    </div>

    <div class="sakana">
        <%= button_to "魚料理", foods_sakana_path, method: :get, class:"t-sakana" %>
    </div>

    <div class="pasta">
        <%= button_to "パスタ", foods_pasta_path, method: :get, class:"t-pasta" %>
    </div>
</div>

<div class="box2">
    <div class="burger">
        <%= button_to "サンドウィッチ/ハンバーガー", foods_burger_path, method: :get, class:"t-burger" %>
    </div>

    <div class="bread">
        <%= button_to "パン/ペイストリー", foods_bread_path, method: :get, class:"t-bread" %>
    </div>

    <div class="curry">
        <%= button_to "カレー", foods_curry_path, method: :get, class:"t-curry" %>
    </div>
</div>

<div class="box3">
    <div class="pizza">
        <%= button_to "ピザ", foods_pizza_path, method: :get, class:"t-pizza" %>
    </div>

    <div class="hand">
        <%= button_to "ワンハンドメニュー", foods_hand_path, method: :get, class:"t-hand" %>
    </div>

    <div class="pop">
        <%= button_to "ポップコーン", foods_pop_path, method: :get, class:"t-pop" %>
    </div>
</div>

<div class="box4">
    <div class="sweets">
        <%= button_to "スウィーツ", foods_sweets_path, method: :get, class:"t-sweets" %>
    </div>

    <div class="ice">
        <%= button_to "アイスクリーム", foods_ice_path, method: :get, class:"t-ice" %>
    </div>

    <div class="alcohol">
        <%= button_to "アルコール", foods_alcohol_path, method: :get, class:"t-alcohol" %>
    </div>
</div>
</body>
<div class ="himitu">
<%= link_to "a", new_food_path %>
</div>