<!DOCTYPE html>
<html>
  <head>
    <title>Disney sea food</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/aa54e06afa.js"  crossorigin="anonymous"></script> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <div class="header-list">
    <%= link_to "Disney sea food introduction", foods_top_path, class: :"head-a" %>
    <%= link_to "area list", foods_place_path, class: :"head-area" %>
    <%= link_to "menu list", foods_menu_path, class: :"head-menu" %>
    <div class="right">
      <% if user_signed_in? %>          
        <%= button_to 'logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= button_to "login", new_user_session_path, method: :get %>
      <% end %>
    </div>          
  </div>
  <a class="pagetop" href="#top"><div class="pagetop__arrow"></div></a>
</header>

  <body>
    <%= yield %>
  </body>
</html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Zen+Antique+Soft&display=swap" rel="stylesheet">